{% extends "base.html" %}

{% block main %}
<div id='profile'>
  <div id='profileTop'>
    <img id="profilePicture"src="{{url_for('static',filename='images/propic.jpg')}}"></img>
    <div id =profileInfo>
      <h1 id='name'>{{name}}</h1>
      <h3 id='username'> @mjane</h3>
      <h3 id='location'>Kingston,Jamaica</h3>  
      <h3 id='dateJoined'>{{date}}</h3>
    </div>
  </div>
  <div id='profileBot'>
    <p id=bio>I am smart and talented young woman who loves website desgin and 
    development.Conatact me if your'd like to work together on a new project</p>  
    <div id ='profileStats'>
      <div class = 'stats'>
        <h2>7</h2>
        <h3>Posts</h3>
      </div>
      <div class = 'stats'>
        <h2>100</h2>
        <h3>Following</h3>
      </div>
      <div class = 'stats'>
        <h2>250</h2>
        <h3>Followers</h3>
      </div>
    </div>
    <input id='follow'  type="submit" name="" value ="Follow" />
  </div>
</div>
{% endblock %}